body{
    background-color: black;
}

.content{
    display: flex;
    justify-content: center;
}

.messageContent{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 800px;
    background-color: rgb(28, 28, 28);
    border: outset white;
    border-right: none;
    color: white;
    overflow-y: scroll;
}

/* Width de la scrollbar */
.messageContent::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.messageContent::-webkit-scrollbar-track {
    background: #dfdfdf;
}

/* Handle */
.messageContent::-webkit-scrollbar-thumb {
    background: #545454;
    border-radius: 5px;
}

/* Handle on hover */
.messageContent::-webkit-scrollbar-thumb:hover {
    background: #393939;
}

.inputContent{
    display: flex;
    justify-content: center;
}

.input{
    width: 500px;
    border-radius: 10px;
}

.btn{
    background-color: white;
    width: 100px;
    margin-left: 10px;
    color: #000000;
}

.btn:hover{
    background-color: #b9b9b9;
}